html body {
    height: 100%; 
    background: url(../image/bg.png);
    margin: 0px;
}
/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}


.container {
    width: 979px;
    margin: auto;
}
header {
    padding-top: 18px;
}
#logo {
    width: 317px;
    height: 121px;
    float: left;
}
#logoDiv img {
    width: 100%;
}
#navigation {
    width: 662px;
    float: right;
    text-align: right;
}
ul {
    list-style-type: none;
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
    padding-top: 5px;
}
#header-menu li {
    margin-left: 10px;
}
.lang {
    background-color: lightgrey;
    border-radius: 5px;
    color: white;
    padding-top: 5px;
    padding-bottom: 2px;
}
.lang a {
    margin: 10px;
}

#navigation-menu li {
    margin-left: 20px;
    font-size: 18px;
}
#navigation-menu li a {
    text-decoration: underline;
}
/*
*Banner
*/
#banner {
    height: 345px;
    background-color: #dadbdd;
    clear: both;
    border-radius: 10px;
    background: url(../image/banner-bg.png);
    -webkit-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.45);
}
#banner-form {
    display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}
#banner-form aside {
    width: 35%;
    margin-top: 38px;
    margin-left: 27px;
    margin-right: 31px;
    height: 239px;
}
.form-banner {
    background-image: url("../image/form-bg.png");
    border-radius: 5px;
}






/*item banner*/
#banner-item {
    height: 32px;
    margin-top: 22px;
    margin-left: 27px;
    margin-right: 31px;
    background-image: url("../image/form-bg.png");
    border-radius: 5px;
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;
    flex-wrap: wrap;
}
#banner-item li {
    margin-left: 25px;
    margin-right: 5px;
}

