body {
    background: url('bg.jpg')
    no-repeat center center fixed;
    background-size: cover;
    color: grey;
    font-family: 'Dosis', sans-serif;
}

.clockDiv {
    width: 50%;
    height: 300px;
    max-width: 100%;
    background-color: black;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 50px;
    opacity: 0.3;
    padding: 20px 10px;
}

@media screen and (max-width: 800px) {
   .clockDiv {
        width: auto;
        height: 90vh;
        background-color: black;
        border-radius: 10px;
       margin: auto;
    }
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.boxDiv {
    width: 20%;
    float: left;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 4%;
    align-content: center;
}
span {
    display:block;
}
.timeBox {
    font-size: 70px;
    text-align: center;
}
.timeDiscription {
    text-align: center;
    font-size: 26px;
}

h2 {
    text-align: center;
    font-size: 30px;
}
